<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOW</title>
</head>

<body>
    <h1>Show Product!</h1>
    <div>
        <label for="name">Product Name:</label>
        <input type="text" id="name" disabled="true" value="<%= product.name %>" size="30">
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="text" id="price" disabled="true" value="<%= product.price %>" size="10">
    </div>
    <div>
        <label for="category">Category:</label>
        <input type="text" id="category" disabled="true" value="<%= product.category %>" size="20">
    </div>
    <div>
        <a href="/products/<%=product._id%>/edit">edit</a>
        <a href="/products">index</a>
        <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
            <input type="submit" value="delete">
        </form>
    </div>
</body>

</html>