<%- include('partials/head');%>

    <body>
        <%- include('partials/navbar');%>
            <div class="container">
                <p>Name:<%=name%>
                </p>
                <p>Subscribers:<%=subscribers%>
                </p>
                <p>Description:<%=description%>
                </p>
                <ul>
                    <%for(let post of posts){%>
                        <li><b>Title</b> : <%=post.title%> - <b>Author</b> : <%=post.author%>
                        </li>
                        <%if(post.img){%>
                            <li><img src="<%=post.img%>" alt="" height="100px" width="100px"></li>
                            <%}%>
                                <%}%>
                </ul>
            </div>
    </body>

    </html>